<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/clientes/lista">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/productos/verProductos">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/proveedor/listaProveedor">Proveedor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>