<div class="container p-4">
    <h2 style="text-align: center;">Agregar Clientes</h2>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="POST" autocomplete="off" onsubmit="return validarFormulario()" >
                        <div class="mb-3">
                            <input type="text" class="form-control" id="RUT" name="RUT" placeholder="RUT" autofocus
                                aria-autocomplete="none" >
                        </div>
                          <div class="mb-3">
                            <input type="text" class="form-control" id="NOMBRE" name="NOMBRE" placeholder="RUT" autofocus
                                aria-autocomplete="none" >
                        </div>
                      
                        </div>
                        </div></br>
                         <div class="mb-3">
                            <input type="text" class="form-control" id="TEL" name="TELEFONO" placeholder="Teléfono ej: 9541234547" required>
                            <div id="tel_error" style="font-size:14px; color:#FF0000;"></div>
                            
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" name="CORREO" placeholder="Correo@ejemplo.com" required>
                        </div>
                         
                        <div class="mb-3">
                            <input type="text" class="form-control" id="DIRECCION" name="DIRECCION" placeholder="Calle" required>
                           
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="NUM" name="NUMERO" placeholder="Número ej: 123" required>
                           
                        </div>
                       <div class="mb-3">
                            <select class="form-control" id="region" name="REGION">
                             <option value="0">Seleccione su región...</option>
                             {{#each regiones}}
                                <option value={{Id_Region}}>{{Nombre}}</option>
                             {{/each}}

                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-control" id="comunas" name="COMUNA">
                             <option value="0">Seleccione su comuna...</option>
                            </select>
                        </div>
                 
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">
                                Agregar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>